swagger: '2.0'
schemes:
- https
host: www.googleapis.com
basePath: "/books/v1"

info:
  contact:
    name: Google
    url: https://google.com
  description: Searches for books and manages your Google Books library.
  title: Google Books
  version: v1
  x-miner-domain: google_books_api
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-logo:
    url: https://www.google.com/intl/en/images/logos/books_logo_lg.png
  x-origin:
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/books/v1/rest
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: books
  x-tags:
  - images
  - search
  - design
  - data
  - google

externalDocs:
  url: https://developers.google.com/books/docs/v1/getting_started

securityDefinitions:
  Oauth2:
    authorizationUrl: https://accounts.google.com/o/oauth2/auth
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      https://www.googleapis.com/auth/books: Manage your books
    type: oauth2

parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
    - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: API key. Your API key identifies your project and provides you with
      API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: Available to use for quota purposes for server-side applications.
      Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      Overrides userIp if both are provided.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if
      you want to enforce per-user limits.
    in: query
    name: userIp
    type: string

tags:
- name: volumes

paths:
  "/volumes":
    get:
      description: Performs a book search.
      operationId: books.volumes.list
      parameters:
      - description: Full-text search query string.
        in: query
        name: q
        required: true
        type: string
      - description: Restrict to volumes by download availability.
        enum:
        - epub
        in: query
        name: download
        type: string
      - description: Filter search results.
        enum:
        - ebooks
        - free-ebooks
        - full
        - paid-ebooks
        - partial
        in: query
        name: filter
        type: string
      - description: Restrict results to books with this language code.
        in: query
        name: langRestrict
        type: string
      - description: Restrict search to this user's library.
        enum:
        - my-library
        - no-restrict
        in: query
        name: libraryRestrict
        type: string
      - description: Maximum number of results to return.
        in: query
        maximum: 40
        minimum: 0
        name: maxResults
        type: integer
      - description: Sort search results.
        enum:
        - newest
        - relevance
        in: query
        name: orderBy
        type: string
      - description: Restrict and brand results for partner ID.
        in: query
        name: partner
        type: string
      - description: Restrict to books or magazines.
        enum:
        - all
        - books
        - magazines
        in: query
        name: printType
        type: string
      - description: Restrict information returned to a set of selected fields.
        enum:
        - full
        - lite
        in: query
        name: projection
        type: string
      - description: Set to true to show books available for preorder. Defaults to
          false.
        in: query
        name: showPreorders
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first result to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      responses:
        '200':
          description: Successful response
          schema:
            "$ref": "#/definitions/Volumes"
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - "$ref": "#/parameters/alt"
    - "$ref": "#/parameters/fields"
    - "$ref": "#/parameters/key"
    - "$ref": "#/parameters/oauth_token"
    - "$ref": "#/parameters/prettyPrint"
    - "$ref": "#/parameters/quotaUser"
    - "$ref": "#/parameters/userIp"

  "/volumes/{volumeId}":
    get:
      summary: Get Volume
      description: Gets volume information for a single volume.
      operationId: books.volumes.get
      parameters:
      - in: query
        name: country
        description: ISO-3166-1 code to override the IP-based location.
        type: string
        format: string
      - in: path
        name: volumeId
        description: ID of volume to retrieve.
        type: string
        format: string
        required: true
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/Volume"
      tags:
      - volumes
      security: 
      - Oauth2:
        - https://www.googleapis.com/auth/books

  "/volumes/{volumeId}/associated":
    get:
      summary: Get Associated Volumes
      description: Return a list of associated books.
      operationId: books.volumes.associated.list
      parameters:
      - in: query
        name: association
        description: Association type.
        type: string
        format: string
      - in: query
        name: locale
        description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: en_US. Used
          for generating recommendations.'
        type: string
        format: string
      - in: query
        name: maxAllowedMaturityRating
        description: The maximum allowed maturity rating of returned recommendations.
          Books with a higher maturity rating are filtered out.
        type: string
        format: string
      - in: path
        name: volumeId
        description: ID of the source volume.
        type: string
        format: string
      responses:
        '200':
          description: OK
      tags:
      - volumes
      security: 
    parameters:
      summary: Get Associated Volumes
      description: ''
      operationId: ''
      responses:
        '200':
          description: Successful response
          schema:
            "$ref": "#/definitions/Volumes"
      tags:
      - volumes
      security: 

definitions:
  Annotation:
    properties:
      afterSelectedText:
        description: Anchor text after excerpt. For requests, if the user bookmarked
          a screen that has no flowing text on it, then this field should be empty.
        type: string
      beforeSelectedText:
        description: Anchor text before excerpt. For requests, if the user bookmarked
          a screen that has no flowing text on it, then this field should be empty.
        type: string
      clientVersionRanges:
        description: Selection ranges sent from the client.
        properties:
          cfiRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in CFI format for this annotation sent by client.
          contentVersion:
            description: Content version the client sent in.
            type: string
          gbImageRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB image format for this annotation sent by client.
          gbTextRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB text format for this annotation sent by client.
          imageCfiRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in image CFI format for this annotation sent by client.
        type: object
      created:
        description: Timestamp for the created time of this annotation.
        format: date-time
        type: string
      currentVersionRanges:
        description: Selection ranges for the most recent content version.
        properties:
          cfiRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in CFI format for this annotation for version above.
          contentVersion:
            description: Content version applicable to ranges below.
            type: string
          gbImageRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB image format for this annotation for version
              above.
          gbTextRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB text format for this annotation for version above.
          imageCfiRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in image CFI format for this annotation for version
              above.
        type: object
      data:
        description: User-created data for this annotation.
        type: string
      deleted:
        description: Indicates that this annotation is deleted.
        type: boolean
      highlightStyle:
        description: The highlight style for this annotation.
        type: string
      id:
        description: Id of this annotation, in the form of a GUID.
        type: string
      kind:
        default: books#annotation
        description: Resource type.
        type: string
      layerId:
        description: The layer this annotation is for.
        type: string
      layerSummary:
        properties:
          allowedCharacterCount:
            description: Maximum allowed characters on this layer, especially for
              the "copy" layer.
            format: int32
            type: integer
          limitType:
            description: Type of limitation on this layer. "limited" or "unlimited"
              for the "copy" layer.
            type: string
          remainingCharacterCount:
            description: Remaining allowed characters on this layer, especially for
              the "copy" layer.
            format: int32
            type: integer
        type: object
      pageIds:
        description: Pages that this annotation spans.
        items:
          type: string
        type: array
      selectedText:
        description: Excerpt from the volume.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      updated:
        description: Timestamp for the last time this annotation was modified.
        format: date-time
        type: string
      volumeId:
        description: The volume that this annotation belongs to.
        type: string
    type: object
  Annotationdata:
    properties:
      annotationType:
        description: The type of annotation this data is for.
        type: string
      data: {}
      encoded_data:
        description: Base64 encoded data for this annotation data.
        format: byte
        type: string
      id:
        description: Unique id for this annotation data.
        type: string
      kind:
        default: books#annotationdata
        description: Resource Type
        type: string
      layerId:
        description: The Layer id for this data. *
        type: string
      selfLink:
        description: URL for this resource. *
        type: string
      updated:
        description: Timestamp for the last time this data was updated. (RFC 3339
          UTC date-time format).
        format: date-time
        type: string
      volumeId:
        description: The volume id for this data. *
        type: string
    type: object
  Annotations:
    properties:
      items:
        description: A list of annotations.
        items:
          "$ref": "#/definitions/Annotation"
        type: array
      kind:
        default: books#annotations
        description: Resource type.
        type: string
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will
          not be present if this request does not have more results.
        type: string
      totalItems:
        description: Total number of annotations found. This may be greater than the
          number of notes returned in this response if results have been paginated.
        format: int32
        type: integer
    type: object
  AnnotationsSummary:
    properties:
      kind:
        default: books#annotationsSummary
        type: string
      layers:
        items:
          properties:
            allowedCharacterCount:
              format: int32
              type: integer
            layerId:
              type: string
            limitType:
              type: string
            remainingCharacterCount:
              format: int32
              type: integer
            updated:
              format: date-time
              type: string
          type: object
        type: array
    type: object
  Annotationsdata:
    properties:
      items:
        description: A list of Annotation Data.
        items:
          "$ref": "#/definitions/Annotationdata"
        type: array
      kind:
        default: books#annotationsdata
        description: Resource type
        type: string
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will
          not be present if this request does not have more results.
        type: string
      totalItems:
        description: The total number of volume annotations found.
        format: int32
        type: integer
    type: object
  BooksAnnotationsRange:
    properties:
      endOffset:
        description: The offset from the ending position.
        type: string
      endPosition:
        description: The ending position for the range.
        type: string
      startOffset:
        description: The offset from the starting position.
        type: string
      startPosition:
        description: The starting position for the range.
        type: string
    type: object
  BooksCloudloadingResource:
    properties:
      author:
        type: string
      processingState:
        type: string
      title:
        type: string
      volumeId:
        type: string
    type: object
  BooksVolumesRecommendedRateResponse:
    properties:
      consistency_token:
        type: string
    type: object
  Bookshelf:
    properties:
      access:
        description: Whether this bookshelf is PUBLIC or PRIVATE.
        type: string
      created:
        description: Created time for this bookshelf (formatted UTC timestamp with
          millisecond resolution).
        format: date-time
        type: string
      description:
        description: Description of this bookshelf.
        type: string
      id:
        description: Id of this bookshelf, only unique by user.
        format: int32
        type: integer
      kind:
        default: books#bookshelf
        description: Resource type for bookshelf metadata.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      title:
        description: Title of this bookshelf.
        type: string
      updated:
        description: Last modified time of this bookshelf (formatted UTC timestamp
          with millisecond resolution).
        format: date-time
        type: string
      volumeCount:
        description: Number of volumes in this bookshelf.
        format: int32
        type: integer
      volumesLastUpdated:
        description: Last time a volume was added or removed from this bookshelf (formatted
          UTC timestamp with millisecond resolution).
        format: date-time
        type: string
    type: object
  Bookshelves:
    properties:
      items:
        description: A list of bookshelves.
        items:
          "$ref": "#/definitions/Bookshelf"
        type: array
      kind:
        default: books#bookshelves
        description: Resource type.
        type: string
    type: object
  Category:
    properties:
      items:
        description: A list of onboarding categories.
        items:
          properties:
            badgeUrl:
              type: string
            categoryId:
              type: string
            name:
              type: string
          type: object
        type: array
      kind:
        default: onboarding#category
        description: Resource type.
        type: string
    type: object
  ConcurrentAccessRestriction:
    properties:
      deviceAllowed:
        description: Whether access is granted for this (user, device, volume).
        type: boolean
      kind:
        default: books#concurrentAccessRestriction
        description: Resource type.
        type: string
      maxConcurrentDevices:
        description: The maximum number of concurrent access licenses for this volume.
        format: int32
        type: integer
      message:
        description: Error/warning message.
        type: string
      nonce:
        description: Client nonce for verification. Download access and client-validation
          only.
        type: string
      reasonCode:
        description: Error/warning reason code.
        type: string
      restricted:
        description: Whether this volume has any concurrent access restrictions.
        type: boolean
      signature:
        description: Response signature.
        type: string
      source:
        description: Client app identifier for verification. Download access and client-validation
          only.
        type: string
      timeWindowSeconds:
        description: Time in seconds for license auto-expiration.
        format: int32
        type: integer
      volumeId:
        description: Identifies the volume for which this entry applies.
        type: string
    type: object
  Dictlayerdata:
    properties:
      common:
        properties:
          title:
            description: The display title and localized canonical name to use when
              searching for this entity on Google search.
            type: string
        type: object
      dict:
        properties:
          source:
            description: The source, url and attribution for this dictionary data.
            properties:
              attribution:
                type: string
              url:
                type: string
            type: object
          words:
            items:
              properties:
                derivatives:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      text:
                        type: string
                    type: object
                  type: array
                examples:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      text:
                        type: string
                    type: object
                  type: array
                senses:
                  items:
                    properties:
                      conjugations:
                        items:
                          properties:
                            type:
                              type: string
                            value:
                              type: string
                          type: object
                        type: array
                      definitions:
                        items:
                          properties:
                            definition:
                              type: string
                            examples:
                              items:
                                properties:
                                  source:
                                    properties:
                                      attribution:
                                        type: string
                                      url:
                                        type: string
                                    type: object
                                  text:
                                    type: string
                                type: object
                              type: array
                          type: object
                        type: array
                      partOfSpeech:
                        type: string
                      pronunciation:
                        type: string
                      pronunciationUrl:
                        type: string
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      syllabification:
                        type: string
                      synonyms:
                        items:
                          properties:
                            source:
                              properties:
                                attribution:
                                  type: string
                                url:
                                  type: string
                              type: object
                            text:
                              type: string
                          type: object
                        type: array
                    type: object
                  type: array
                source:
                  description: The words with different meanings but not related words,
                    e.g. "go" (game) and "go" (verb).
                  properties:
                    attribution:
                      type: string
                    url:
                      type: string
                  type: object
              type: object
            type: array
        type: object
      kind:
        default: books#dictlayerdata
        type: string
    type: object
  Discoveryclusters:
    properties:
      clusters:
        items:
          properties:
            banner_with_content_container:
              properties:
                fillColorArgb:
                  type: string
                imageUrl:
                  type: string
                maskColorArgb:
                  type: string
                moreButtonText:
                  type: string
                moreButtonUrl:
                  type: string
                textColorArgb:
                  type: string
              type: object
            subTitle:
              type: string
            title:
              type: string
            totalVolumes:
              format: int32
              type: integer
            uid:
              type: string
            volumes:
              items:
                "$ref": "#/definitions/Volume"
              type: array
          type: object
        type: array
      kind:
        default: books#discovery#clusters
        description: Resorce type.
        type: string
      totalClusters:
        format: int32
        type: integer
    type: object
  DownloadAccessRestriction:
    properties:
      deviceAllowed:
        description: If restricted, whether access is granted for this (user, device,
          volume).
        type: boolean
      downloadsAcquired:
        description: If restricted, the number of content download licenses already
          acquired (including the requesting client, if licensed).
        format: int32
        type: integer
      justAcquired:
        description: If deviceAllowed, whether access was just acquired with this
          request.
        type: boolean
      kind:
        default: books#downloadAccessRestriction
        description: Resource type.
        type: string
      maxDownloadDevices:
        description: If restricted, the maximum number of content download licenses
          for this volume.
        format: int32
        type: integer
      message:
        description: Error/warning message.
        type: string
      nonce:
        description: Client nonce for verification. Download access and client-validation
          only.
        type: string
      reasonCode:
        description: Error/warning reason code. Additional codes may be added in the
          future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200
          WARNING_USED_LAST_ACCESS
        type: string
      restricted:
        description: Whether this volume has any download access restrictions.
        type: boolean
      signature:
        description: Response signature.
        type: string
      source:
        description: Client app identifier for verification. Download access and client-validation
          only.
        type: string
      volumeId:
        description: Identifies the volume for which this entry applies.
        type: string
    type: object
  DownloadAccesses:
    properties:
      downloadAccessList:
        description: A list of download access responses.
        items:
          "$ref": "#/definitions/DownloadAccessRestriction"
        type: array
      kind:
        default: books#downloadAccesses
        description: Resource type.
        type: string
    type: object
  Geolayerdata:
    properties:
      common:
        properties:
          lang:
            description: The language of the information url and description.
            type: string
          previewImageUrl:
            description: The URL for the preview image information.
            type: string
          snippet:
            description: The description for this location.
            type: string
          snippetUrl:
            description: 'The URL for information for this location. Ex: wikipedia
              link.'
            type: string
          title:
            description: The display title and localized canonical name to use when
              searching for this entity on Google search.
            type: string
        type: object
      geo:
        properties:
          boundary:
            description: The boundary of the location as a set of loops containing
              pairs of latitude, longitude coordinates.
            items:
              items:
                properties:
                  latitude:
                    format: uint32
                    type: integer
                  longitude:
                    format: uint32
                    type: integer
                type: object
              type: array
            type: array
          cachePolicy:
            description: 'The cache policy active for this data. EX: UNRESTRICTED,
              RESTRICTED, NEVER'
            type: string
          countryCode:
            description: The country code of the location.
            type: string
          latitude:
            description: The latitude of the location.
            format: double
            type: number
          longitude:
            description: The longitude of the location.
            format: double
            type: number
          mapType:
            description: 'The type of map that should be used for this location. EX:
              HYBRID, ROADMAP, SATELLITE, TERRAIN'
            type: string
          viewport:
            description: The viewport for showing this location. This is a latitude,
              longitude rectangle.
            properties:
              hi:
                properties:
                  latitude:
                    format: double
                    type: number
                  longitude:
                    format: double
                    type: number
                type: object
              lo:
                properties:
                  latitude:
                    format: double
                    type: number
                  longitude:
                    format: double
                    type: number
                type: object
            type: object
          zoom:
            description: 'The Zoom level to use for the map. Zoom levels between 0
              (the lowest zoom level, in which the entire world can be seen on one
              map) to 21+ (down to individual buildings). See: https://developers.google.com/maps/documentation/staticmaps/#Zoomlevels'
            format: int32
            type: integer
        type: object
      kind:
        default: books#geolayerdata
        type: string
    type: object
  Layersummaries:
    properties:
      items:
        description: A list of layer summary items.
        items:
          "$ref": "#/definitions/Layersummary"
        type: array
      kind:
        default: books#layersummaries
        description: Resource type.
        type: string
      totalItems:
        description: The total number of layer summaries found.
        format: int32
        type: integer
    type: object
  Layersummary:
    properties:
      annotationCount:
        description: The number of annotations for this layer.
        format: int32
        type: integer
      annotationTypes:
        description: The list of annotation types contained for this layer.
        items:
          type: string
        type: array
      annotationsDataLink:
        description: Link to get data for this annotation.
        type: string
      annotationsLink:
        description: The link to get the annotations for this layer.
        type: string
      contentVersion:
        description: The content version this resource is for.
        type: string
      dataCount:
        description: The number of data items for this layer.
        format: int32
        type: integer
      id:
        description: Unique id of this layer summary.
        type: string
      kind:
        default: books#layersummary
        description: Resource Type
        type: string
      layerId:
        description: The layer id for this summary.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      updated:
        description: Timestamp for the last time an item in this layer was updated.
          (RFC 3339 UTC date-time format).
        format: date-time
        type: string
      volumeAnnotationsVersion:
        description: The current version of this layer's volume annotations. Note
          that this version applies only to the data in the books.layers.volumeAnnotations.*
          responses. The actual annotation data is versioned separately.
        type: string
      volumeId:
        description: The volume id this resource is for.
        type: string
    type: object
  Metadata:
    properties:
      items:
        description: A list of offline dictionary metadata.
        items:
          properties:
            download_url:
              type: string
            encrypted_key:
              type: string
            language:
              type: string
            size:
              format: int64
              type: string
            version:
              format: int64
              type: string
          type: object
        type: array
      kind:
        default: dictionary#metadata
        description: Resource type.
        type: string
    type: object
  Notification:
    properties:
      body:
        type: string
      crmExperimentIds:
        description: The list of crm experiment ids.
        items:
          format: int64
          type: string
        type: array
      doc_id:
        type: string
      doc_type:
        type: string
      dont_show_notification:
        type: boolean
      iconUrl:
        type: string
      kind:
        default: books#notification
        description: Resource type.
        type: string
      notification_type:
        type: string
      pcampaign_id:
        type: string
      reason:
        type: string
      show_notification_settings_action:
        type: boolean
      targetUrl:
        type: string
      title:
        type: string
    type: object
  Offers:
    properties:
      items:
        description: A list of offers.
        items:
          properties:
            artUrl:
              type: string
            gservicesKey:
              type: string
            id:
              type: string
            items:
              items:
                properties:
                  author:
                    type: string
                  canonicalVolumeLink:
                    type: string
                  coverUrl:
                    type: string
                  description:
                    type: string
                  title:
                    type: string
                  volumeId:
                    type: string
                type: object
              type: array
          type: object
        type: array
      kind:
        default: promooffer#offers
        description: Resource type.
        type: string
    type: object
  ReadingPosition:
    properties:
      epubCfiPosition:
        description: Position in an EPUB as a CFI.
        type: string
      gbImagePosition:
        description: Position in a volume for image-based content.
        type: string
      gbTextPosition:
        description: Position in a volume for text-based content.
        type: string
      kind:
        default: books#readingPosition
        description: Resource type for a reading position.
        type: string
      pdfPosition:
        description: Position in a PDF file.
        type: string
      updated:
        description: Timestamp when this reading position was last updated (formatted
          UTC timestamp with millisecond resolution).
        format: date-time
        type: string
      volumeId:
        description: Volume id associated with this reading position.
        type: string
    type: object
  RequestAccess:
    properties:
      concurrentAccess:
        "$ref": "#/definitions/ConcurrentAccessRestriction"
        description: A concurrent access response.
      downloadAccess:
        "$ref": "#/definitions/DownloadAccessRestriction"
        description: A download access response.
      kind:
        default: books#requestAccess
        description: Resource type.
        type: string
    type: object
  Review:
    properties:
      author:
        description: Author of this review.
        properties:
          displayName:
            description: Name of this person.
            type: string
        type: object
      content:
        description: Review text.
        type: string
      date:
        description: Date of this review.
        type: string
      fullTextUrl:
        description: URL for the full review text, for reviews gathered from the web.
        type: string
      kind:
        default: books#review
        description: Resource type for a review.
        type: string
      rating:
        description: Star rating for this review. Possible values are ONE, TWO, THREE,
          FOUR, FIVE or NOT_RATED.
        type: string
      source:
        description: Information regarding the source of this review, when the review
          is not from a Google Books user.
        properties:
          description:
            description: Name of the source.
            type: string
          extraDescription:
            description: Extra text about the source of the review.
            type: string
          url:
            description: URL of the source of the review.
            type: string
        type: object
      title:
        description: Title for this review.
        type: string
      type:
        description: Source type for this review. Possible values are EDITORIAL, WEB_USER
          or GOOGLE_USER.
        type: string
      volumeId:
        description: Volume that this review is for.
        type: string
    type: object
  Series:
    properties:
      kind:
        default: books#series
        description: Resource type.
        type: string
      series:
        items:
          properties:
            bannerImageUrl:
              type: string
            imageUrl:
              type: string
            seriesId:
              type: string
            seriesType:
              type: string
            title:
              type: string
          type: object
        type: array
    type: object
  Seriesmembership:
    properties:
      kind:
        default: books#series#membership
        description: Resorce type.
        type: string
      member:
        items:
          "$ref": "#/definitions/Volume"
        type: array
      nextPageToken:
        type: string
    type: object
  Usersettings:
    properties:
      kind:
        default: books#usersettings
        description: Resource type.
        type: string
      notesExport:
        description: User settings in sub-objects, each for different purposes.
        properties:
          folderName:
            type: string
          isEnabled:
            type: boolean
        type: object
      notification:
        properties:
          moreFromAuthors:
            properties:
              opted_state:
                type: string
            type: object
          moreFromSeries:
            properties:
              opted_state:
                type: string
            type: object
        type: object
    type: object
  Volume:
    properties:
      accessInfo:
        description: Any information about a volume related to reading or obtaining
          that volume text. This information can depend on country (books may be public
          domain in one country but not in another, e.g.).
        properties:
          accessViewStatus:
            description: Combines the access and viewability of this volume into a
              single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN,
              SAMPLE or NONE. (In LITE projection.)
            type: string
          country:
            description: The two-letter ISO_3166-1 country code for which this access
              information is valid. (In LITE projection.)
            type: string
          downloadAccess:
            "$ref": "#/definitions/DownloadAccessRestriction"
            description: Information about a volume's download license access restrictions.
          driveImportedContentLink:
            description: URL to the Google Drive viewer if this volume is uploaded
              by the user by selecting the file from Google Drive.
            type: string
          embeddable:
            description: Whether this volume can be embedded in a viewport using the
              Embedded Viewer API.
            type: boolean
          epub:
            description: Information about epub content. (In LITE projection.)
            properties:
              acsTokenLink:
                description: URL to retrieve ACS token for epub download. (In LITE
                  projection.)
                type: string
              downloadLink:
                description: URL to download epub. (In LITE projection.)
                type: string
              isAvailable:
                description: Is a flowing text epub available either as public domain
                  or for purchase. (In LITE projection.)
                type: boolean
            type: object
          explicitOfflineLicenseManagement:
            description: Whether this volume requires that the client explicitly request
              offline download license rather than have it done automatically when
              loading the content, if the client supports it.
            type: boolean
          pdf:
            description: Information about pdf content. (In LITE projection.)
            properties:
              acsTokenLink:
                description: URL to retrieve ACS token for pdf download. (In LITE
                  projection.)
                type: string
              downloadLink:
                description: URL to download pdf. (In LITE projection.)
                type: string
              isAvailable:
                description: Is a scanned image pdf available either as public domain
                  or for purchase. (In LITE projection.)
                type: boolean
            type: object
          publicDomain:
            description: Whether or not this book is public domain in the country
              listed above.
            type: boolean
          quoteSharingAllowed:
            description: Whether quote sharing is allowed for this volume.
            type: boolean
          textToSpeechPermission:
            description: Whether text-to-speech is permitted for this volume. Values
              can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED.
            type: string
          viewOrderUrl:
            description: For ordered but not yet processed orders, we give a URL that
              can be used to go to the appropriate Google Wallet page.
            type: string
          viewability:
            description: The read access of a volume. Possible values are PARTIAL,
              ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed
              above. A value of PARTIAL means that the publisher has allowed some
              portion of the volume to be viewed publicly, without purchase. This
              can apply to eBooks as well as non-eBooks. Public domain books will
              always have a value of ALL_PAGES.
            type: string
          webReaderLink:
            description: URL to read this volume on the Google Books site. Link will
              not allow users to read non-viewable volumes.
            type: string
        type: object
      etag:
        description: Opaque identifier for a specific version of a volume resource.
          (In LITE projection)
        type: string
      id:
        description: Unique identifier for a volume. (In LITE projection.)
        type: string
      kind:
        default: books#volume
        description: Resource type for a volume. (In LITE projection.)
        type: string
      layerInfo:
        description: What layers exist in this volume and high level information about
          them.
        properties:
          layers:
            description: A layer should appear here if and only if the layer exists
              for this book.
            items:
              properties:
                layerId:
                  description: The layer id of this layer (e.g. "geo").
                  type: string
                volumeAnnotationsVersion:
                  description: The current version of this layer's volume annotations.
                    Note that this version applies only to the data in the books.layers.volumeAnnotations.*
                    responses. The actual annotation data is versioned separately.
                  type: string
              type: object
            type: array
        type: object
      recommendedInfo:
        description: Recommendation related information for this volume.
        properties:
          explanation:
            description: A text explaining why this volume is recommended.
            type: string
        type: object
      saleInfo:
        description: Any information about a volume related to the eBookstore and/or
          purchaseability. This information can depend on the country where the request
          originates from (i.e. books may not be for sale in certain countries).
        properties:
          buyLink:
            description: URL to purchase this volume on the Google Books site. (In
              LITE projection)
            type: string
          country:
            description: The two-letter ISO_3166-1 country code for which this sale
              information is valid. (In LITE projection.)
            type: string
          isEbook:
            description: Whether or not this volume is an eBook (can be added to the
              My eBooks shelf).
            type: boolean
          listPrice:
            description: Suggested retail price. (In LITE projection.)
            properties:
              amount:
                description: Amount in the currency listed below. (In LITE projection.)
                format: double
                type: number
              currencyCode:
                description: An ISO 4217, three-letter currency code. (In LITE projection.)
                type: string
            type: object
          offers:
            description: Offers available for this volume (sales and rentals).
            items:
              properties:
                finskyOfferType:
                  description: The finsky offer type (e.g., PURCHASE=0 RENTAL=3)
                  format: int32
                  type: integer
                giftable:
                  description: Indicates whether the offer is giftable.
                  type: boolean
                listPrice:
                  description: Offer list (=undiscounted) price in Micros.
                  properties:
                    amountInMicros:
                      format: double
                      type: number
                    currencyCode:
                      type: string
                  type: object
                rentalDuration:
                  description: The rental duration (for rental offers only).
                  properties:
                    count:
                      format: double
                      type: number
                    unit:
                      type: string
                  type: object
                retailPrice:
                  description: Offer retail (=discounted) price in Micros
                  properties:
                    amountInMicros:
                      format: double
                      type: number
                    currencyCode:
                      type: string
                  type: object
              type: object
            type: array
          onSaleDate:
            description: The date on which this book is available for sale.
            format: date-time
            type: string
          retailPrice:
            description: The actual selling price of the book. This is the same as
              the suggested retail or list price unless there are offers or discounts
              on this volume. (In LITE projection.)
            properties:
              amount:
                description: Amount in the currency listed below. (In LITE projection.)
                format: double
                type: number
              currencyCode:
                description: An ISO 4217, three-letter currency code. (In LITE projection.)
                type: string
            type: object
          saleability:
            description: Whether or not this book is available for sale or offered
              for free in the Google eBookstore for the country listed above. Possible
              values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE,
              or FOR_PREORDER.
            type: string
        type: object
      searchInfo:
        description: Search result information related to this volume.
        properties:
          textSnippet:
            description: A text snippet containing the search query.
            type: string
        type: object
      selfLink:
        description: URL to this resource. (In LITE projection.)
        type: string
      userInfo:
        description: User specific information related to this volume. (e.g. page
          this user last read or whether they purchased this book)
        properties:
          acquiredTime:
            description: Timestamp when this volume was acquired by the user. (RFC
              3339 UTC date-time format) Acquiring includes purchase, user upload,
              receiving family sharing, etc.
            format: date-time
            type: string
          acquisitionType:
            description: How this volume was acquired.
            format: int32
            type: integer
          copy:
            description: Copy/Paste accounting information.
            properties:
              allowedCharacterCount:
                format: int32
                type: integer
              limitType:
                type: string
              remainingCharacterCount:
                format: int32
                type: integer
              updated:
                format: date-time
                type: string
            type: object
          entitlementType:
            description: Whether this volume is purchased, sample, pd download etc.
            format: int32
            type: integer
          familySharing:
            description: Information on the ability to share with the family.
            properties:
              familyRole:
                description: The role of the user in the family.
                type: string
              isSharingAllowed:
                description: Whether or not this volume can be shared with the family
                  by the user. This includes sharing eligibility of both the volume
                  and the user. If the value is true, the user can initiate a family
                  sharing action.
                type: boolean
              isSharingDisabledByFop:
                description: Whether or not sharing this volume is temporarily disabled
                  due to issues with the Family Wallet.
                type: boolean
            type: object
          isFamilySharedFromUser:
            description: Whether or not the user shared this volume with the family.
            type: boolean
          isFamilySharedToUser:
            description: Whether or not the user received this volume through family
              sharing.
            type: boolean
          isFamilySharingAllowed:
            description: 'Deprecated: Replaced by familySharing.'
            type: boolean
          isFamilySharingDisabledByFop:
            description: 'Deprecated: Replaced by familySharing.'
            type: boolean
          isInMyBooks:
            description: Whether or not this volume is currently in "my books."
            type: boolean
          isPreordered:
            description: Whether or not this volume was pre-ordered by the authenticated
              user making the request. (In LITE projection.)
            type: boolean
          isPurchased:
            description: Whether or not this volume was purchased by the authenticated
              user making the request. (In LITE projection.)
            type: boolean
          isUploaded:
            description: Whether or not this volume was user uploaded.
            type: boolean
          readingPosition:
            "$ref": "#/definitions/ReadingPosition"
            description: The user's current reading position in the volume, if one
              is available. (In LITE projection.)
          rentalPeriod:
            description: Period during this book is/was a valid rental.
            properties:
              endUtcSec:
                format: int64
                type: string
              startUtcSec:
                format: int64
                type: string
            type: object
          rentalState:
            description: Whether this book is an active or an expired rental.
            type: string
          review:
            "$ref": "#/definitions/Review"
            description: This user's review of this volume, if one exists.
          updated:
            description: Timestamp when this volume was last modified by a user action,
              such as a reading position update, volume purchase or writing a review.
              (RFC 3339 UTC date-time format).
            format: date-time
            type: string
          userUploadedVolumeInfo:
            properties:
              processingState:
                type: string
            type: object
        type: object
      volumeInfo:
        description: General volume information.
        properties:
          allowAnonLogging:
            description: Whether anonymous logging should be allowed.
            type: boolean
          authors:
            description: The names of the authors and/or editors for this volume.
              (In LITE projection)
            items:
              type: string
            type: array
          averageRating:
            description: The mean review rating for this volume. (min = 1.0, max =
              5.0)
            format: double
            type: number
          canonicalVolumeLink:
            description: Canonical URL for a volume. (In LITE projection.)
            type: string
          categories:
            description: A list of subject categories, such as "Fiction", "Suspense",
              etc.
            items:
              type: string
            type: array
          contentVersion:
            description: An identifier for the version of the volume content (text
              & images). (In LITE projection)
            type: string
          description:
            description: A synopsis of the volume. The text of the description is
              formatted in HTML and includes simple formatting elements, such as b,
              i, and br tags. (In LITE projection.)
            type: string
          dimensions:
            description: Physical dimensions of this volume.
            properties:
              height:
                description: Height or length of this volume (in cm).
                type: string
              thickness:
                description: Thickness of this volume (in cm).
                type: string
              width:
                description: Width of this volume (in cm).
                type: string
            type: object
          imageLinks:
            description: A list of image links for all the sizes that are available.
              (In LITE projection.)
            properties:
              extraLarge:
                description: Image link for extra large size (width of ~1280 pixels).
                  (In LITE projection)
                type: string
              large:
                description: Image link for large size (width of ~800 pixels). (In
                  LITE projection)
                type: string
              medium:
                description: Image link for medium size (width of ~575 pixels). (In
                  LITE projection)
                type: string
              small:
                description: Image link for small size (width of ~300 pixels). (In
                  LITE projection)
                type: string
              smallThumbnail:
                description: Image link for small thumbnail size (width of ~80 pixels).
                  (In LITE projection)
                type: string
              thumbnail:
                description: Image link for thumbnail size (width of ~128 pixels).
                  (In LITE projection)
                type: string
            type: object
          industryIdentifiers:
            description: Industry standard identifiers for this volume.
            items:
              properties:
                identifier:
                  description: Industry specific volume identifier.
                  type: string
                type:
                  description: Identifier type. Possible values are ISBN_10, ISBN_13,
                    ISSN and OTHER.
                  type: string
              type: object
            type: array
          infoLink:
            description: URL to view information about this volume on the Google Books
              site. (In LITE projection)
            type: string
          language:
            description: Best language for this volume (based on content). It is the
              two-letter ISO 639-1 code such as 'fr', 'en', etc.
            type: string
          mainCategory:
            description: The main category to which this volume belongs. It will be
              the category from the categories list returned below that has the highest
              weight.
            type: string
          maturityRating:
            type: string
          pageCount:
            description: Total number of pages as per publisher metadata.
            format: int32
            type: integer
          panelizationSummary:
            description: A top-level summary of the panelization info in this volume.
            properties:
              containsEpubBubbles:
                type: boolean
              containsImageBubbles:
                type: boolean
              epubBubbleVersion:
                type: string
              imageBubbleVersion:
                type: string
            type: object
          previewLink:
            description: URL to preview this volume on the Google Books site.
            type: string
          printType:
            description: Type of publication of this volume. Possible values are BOOK
              or MAGAZINE.
            type: string
          printedPageCount:
            description: Total number of printed pages in generated pdf representation.
            format: int32
            type: integer
          publishedDate:
            description: Date of publication. (In LITE projection.)
            type: string
          publisher:
            description: Publisher of this volume. (In LITE projection.)
            type: string
          ratingsCount:
            description: The number of review ratings for this volume.
            format: int32
            type: integer
          readingModes:
            description: The reading modes available for this volume.
          samplePageCount:
            description: Total number of sample pages as per publisher metadata.
            format: int32
            type: integer
          seriesInfo:
            "$ref": "#/definitions/Volumeseriesinfo"
          subtitle:
            description: Volume subtitle. (In LITE projection.)
            type: string
          title:
            description: Volume title. (In LITE projection.)
            type: string
        type: object
    type: object
  Volume2:
    properties:
      items:
        description: A list of volumes.
        items:
          "$ref": "#/definitions/Volume"
        type: array
      kind:
        default: onboarding#volume
        description: Resource type.
        type: string
      nextPageToken:
        type: string
    type: object
  Volumeannotation:
    properties:
      annotationDataId:
        description: The annotation data id for this volume annotation.
        type: string
      annotationDataLink:
        description: Link to get data for this annotation.
        type: string
      annotationType:
        description: The type of annotation this is.
        type: string
      contentRanges:
        description: The content ranges to identify the selected text.
        properties:
          cfiRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in CFI format for this annotation for version above.
          contentVersion:
            description: Content version applicable to ranges below.
            type: string
          gbImageRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB image format for this annotation for version
              above.
          gbTextRange:
            "$ref": "#/definitions/BooksAnnotationsRange"
            description: Range in GB text format for this annotation for version above.
        type: object
      data:
        description: Data for this annotation.
        type: string
      deleted:
        description: Indicates that this annotation is deleted.
        type: boolean
      id:
        description: Unique id of this volume annotation.
        type: string
      kind:
        default: books#volumeannotation
        description: Resource Type
        type: string
      layerId:
        description: The Layer this annotation is for.
        type: string
      pageIds:
        description: Pages the annotation spans.
        items:
          type: string
        type: array
      selectedText:
        description: Excerpt from the volume.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      updated:
        description: Timestamp for the last time this anntoation was updated. (RFC
          3339 UTC date-time format).
        format: date-time
        type: string
      volumeId:
        description: The Volume this annotation is for.
        type: string
    type: object
  Volumeannotations:
    properties:
      items:
        description: A list of volume annotations.
        items:
          "$ref": "#/definitions/Volumeannotation"
        type: array
      kind:
        default: books#volumeannotations
        description: Resource type
        type: string
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will
          not be present if this request does not have more results.
        type: string
      totalItems:
        description: The total number of volume annotations found.
        format: int32
        type: integer
      version:
        description: 'The version string for all of the volume annotations in this
          layer (not just the ones in this response). Note: the version string doesn''t
          apply to the annotation data, just the information in this response (e.g.
          the location of annotations in the book).'
        type: string
    type: object
  Volumes:
    properties:
      items:
        description: A list of volumes.
        items:
          "$ref": "#/definitions/Volume"
        type: array
      kind:
        default: books#volumes
        description: Resource type.
        type: string
      totalItems:
        description: Total number of volumes found. This might be greater than the
          number of volumes returned in this response if results have been paginated.
        format: int32
        type: integer
    type: object
  Volumeseriesinfo:
    properties:
      bookDisplayNumber:
        description: The display number string. This should be used only for display
          purposes and the actual sequence should be inferred from the below orderNumber.
        type: string
      kind:
        default: books#volume_series_info
        description: Resource type.
        type: string
      shortSeriesBookTitle:
        description: Short book title in the context of the series.
        type: string
      volumeSeries:
        items:
          properties:
            issue:
              description: List of issues. Applicable only for Collection Edition
                and Omnibus.
              items:
                properties:
                  issueDisplayNumber:
                    type: string
                  issueOrderNumber:
                    format: int32
                    type: integer
                type: object
              type: array
            orderNumber:
              description: The book order number in the series.
              format: int32
              type: integer
            seriesBookType:
              description: The book type in the context of series. Examples - Single
                Issue, Collection Edition, etc.
              type: string
            seriesId:
              description: The series id.
              type: string
          type: object
        type: array
    type: object
x-apih-id: google_books_api
x-apih-ghusage:
  count: 16296
  topUsages:
  - repository: halflings/python-data-workshop
    repoUrl: https://github.com/halflings/python-data-workshop
    description: Code and slides for a workshop I'm hosting on Python and its useful
      data-processing/machine learning capabilities.
    language: Python
    stargazers: 37
    watchers: 37
    sources:
    - https://github.com/halflings/python-data-workshop/blob/25f8cfe4f403bbeaacb9d52c25b0b53a46f999ed/01_simple_requests.py
  - repository: DcsMarcRemolt/angular-es6-template
    repoUrl: https://github.com/DcsMarcRemolt/angular-es6-template
    description: Angular + JSPM + Grunt + Sass
    language: JavaScript
    stargazers: 30
    watchers: 30
    sources:
    - https://github.com/DcsMarcRemolt/angular-es6-template/blob/fb8672326f855e5a0ca9dc213a56fc6032941373/src/app/backend/schema/definitions.js
  - repository: railskarthi/sample-alloy-app
    repoUrl: https://github.com/railskarthi/sample-alloy-app
    description: Titanium sample Alloy Application
    language: JavaScript
    stargazers: 14
    watchers: 14
    sources:
    - https://github.com/railskarthi/sample-alloy-app/blob/f2f8ab477c326d2011614df73b5d453982695885/Resources/alloy/CFG.js
  - repository: boyanin/The-Book-Rat
    repoUrl: https://github.com/boyanin/The-Book-Rat
    description: This is a simple AngularJS application, aimed to show how the framework
      works in a real-world scenario.
    language: JavaScript
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/boyanin/The-Book-Rat/blob/3b55f64ed590294a452cfc3935e82899f0b6fe18/final/app/services/searchService.js
  - repository: juanlizarazo/book-search-app
    repoUrl: https://github.com/juanlizarazo/book-search-app
    description: book-search-app in Ruby on Rails
    language: Ruby
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/juanlizarazo/book-search-app/blob/214785db8c6c3de24db64b2896781b9f993a80a3/config/initializers/her.rb
  - repository: zodiac/goodreads-wall
    repoUrl: https://github.com/zodiac/goodreads-wall
    description: Creates a "wall of books" using your Goodreads shelf and Google Books
      API
    language: Python
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/zodiac/goodreads-wall/blob/4ac107571560674fd5cc4b3516da076688c439ce/test.py
  - repository: project21/quiet-mist-212
    repoUrl: https://github.com/project21/quiet-mist-212
    description: Campus academic/social  network
    language: JavaScript
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/project21/quiet-mist-212/blob/1122daaa33fb6a1ff8a2b17f09335a9c84edd9e3/lib/books/api/google.rb
  - repository: kmeyer313/our-reads
    repoUrl: https://github.com/kmeyer313/our-reads
    description: book recommendation software for classrooms
    language: JavaScript
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/kmeyer313/our-reads/blob/245e085ff9ed4087f7614b018d0c221566efc7ed/app/models/book.rb
    - https://github.com/kmeyer313/our-reads/blob/027dfa26e7ab2912daeaaad4b49ae90bc767d3f3/app/models/book.rb
  - repository: peterbakonyi05/electron-angular2-app-skeleton
    repoUrl: https://github.com/peterbakonyi05/electron-angular2-app-skeleton
    description: ''
    language: TypeScript
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/peterbakonyi05/electron-angular2-app-skeleton/blob/c10fcca36b7af123c4c44a574dba0571093726e3/config/index.js
    - https://github.com/peterbakonyi05/electron-angular2-app-skeleton/blob/ffb9582a1156ac417acca609fe0dfe554f0ad5d3/config/index.js
  - repository: theofilis/book-search-iconic
    repoUrl: https://github.com/theofilis/book-search-iconic
    description: Book search application used a iconic framework apha
    language: JavaScript
    stargazers: 1
    watchers: 1
    sources:
    - https://github.com/theofilis/book-search-iconic/blob/f628993c6e029ed6dd2dcb0bb9d03e245a34d504/src/main/webapp/js/services.js
x-apih-relationships:
- relatedApiId: google_sheets_api
  commonUsages:
  - github_repo_name: jacquelinezhang/supertest_rehearsal
    stargazers_count: 0
  - github_repo_name: jacquelinezhang/supertest-workshop
    stargazers_count: 0
  - github_repo_name: licherry/supertest_practice
    stargazers_count: 0
  - github_repo_name: Teawithpopcorn/SupertestHomework
    stargazers_count: 0
  - github_repo_name: twqa/supertest-workshop
    stargazers_count: 0
  - github_repo_name: yaoping/supertest
    stargazers_count: 0
x-apih-sdks:
- name: google-books-search-2
  downloads:
    last-day: 1
    last-month: 101
    last-week: 19
  description: A node wrapper for the Google Books API. Based on the original project
    google-books-search.
  url: https://www.npmjs.com/package/google-books-search-2
  repoUrl: https://github.com/RubenCordeiro/node-google-books-search-2
  language: JavaScript
  license: MIT
- name: google-books-search
  downloads:
    last-day: 1
    last-month: 241
    last-week: 39
  description: A lightweight node wrapper for the Google Books API.
  url: https://www.npmjs.com/package/google-books-search
  repoUrl: git+https://github.com/smilledge/node-google-books-search
  language: JavaScript
  license: MIT
- name: strand-books
  downloads:
    last-day: 0
    last-month: 11
    last-week: 2
  description: Client library for searching NYC's Strand bookstore.
  url: https://www.npmjs.com/package/strand-books
  repoUrl: https://github.com/happy4crazy/strand-books
  language: JavaScript
  license: BSD-3-Clause
- name: google-books
  downloads:
    last-day: 2
    last-month: 19
    last-week: 7
  description: A NodeJS Google Books API Wrapper
  url: https://www.npmjs.com/package/google-books
  repoUrl: git://github.com/blackbarn/google-books
  language: JavaScript
- name: megapis-new-books
  downloads:
    last-day: 0
    last-month: 15
    last-week: 3
  description: Use Google Books API to get new book releases (title, author, description,
    publish date, and image)for a list of authors.  The Books API has a rate limit
    of 1/request/second.  Get only books that are already released, and released within
    the last `maxAge`
  url: https://www.npmjs.com/package/megapis-new-books
  repoUrl: ''
  language: JavaScript
  license: MIT
- name: megapis-prime-books
  downloads:
    last-day: 0
    last-month: 23
    last-week: 4
  description: Get books recently added to Kindle lending library and add to daily
    email
  url: https://www.npmjs.com/package/megapis-prime-books
  repoUrl: https://github.com/kielni/megapis
  language: JavaScript
  license: MIT
- downloads:
    last-day: 0
    last-month: 23
    last-week: 3
  description: An example of Angular
  name: misis-books-angular
  url: https://www.npmjs.com/package/misis-books-angular
  language: JavaScript
  license: MIT
- name: googlebooksapi
  downloads:
    last-day: 2
    last-month: 18
    last-week: 6
  description: Access to Google Books
  url: https://www.npmjs.com/package/googlebooksapi
  repoUrl: git://github.com/sagens42/GoogleBooksAPI.NodeJS
  language: JavaScript
- name: hapi-datify
  downloads:
    last-day: 3
    last-month: 40
    last-week: 9
  description: your datify-friendly hapi plugin.
  url: https://www.npmjs.com/package/hapi-datify
  repoUrl: https://github.com/iamdoron/hapi-datify
  language: JavaScript
- name: paperbackswap
  downloads:
    last-day: 0
    last-month: 50
    last-week: 10
  description: Node.js bindings for PaperbackSwap API
  url: https://www.npmjs.com/package/paperbackswap
  repoUrl: https://github.com/pijewski/node
  language: JavaScript
